name: Jest Tests For Tour API
run-name: Run JsonPlaceHolder tests

on: push

jobs:
  jest-tour-api-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install npm dependencies
        run: npm install

      - name: Run User SignUp Test
        run: npx jest specs/jsonplaceholder